@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Shared Style  */
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: #FAA515;
}

.btn-primary{
    background-color: #FAA515;
    color: aliceblue;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600px;
    border: none;
    margin-bottom: 50px;

}


/* Header Style */

/* navbar related Style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 1.3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}

/* Banner Related Style */
.banner-contant{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
}

.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* 
Responsive thinking 
1. Break- point 
2. style
3. img nav font-size
4. test
5. Media=Q
*/

/* responcive media Quariy  */
@media screen and ( max-width: 576px) {
    .navbar, .nav-link{
        flex-direction: column;
        
    }
}